%table.table.table-striped.table-bordered
  %thead.thead-dark
    %th Name
    %th Email
    %th Cellphone
  %tbody
    %tr
      %td
        = form.text_field :name
      %td
        = form.text_field :email
      %td
        = form.text_field :cellphone
%br