%table.table.table-striped.table-bordered
  %thead.thead-dark
    %th Name
    %th Description
  %tbody
    %tr
      %td
        = form.text_field :name
      %td
        = form.text_area :description
%br